.pr {
  margin-bottom: 10px;
  .date {
    font-size: 0.8em;
  }
  .labels {
    font-size: 0.8em;
  }
  .comments-counter {
    .md-icon {
      color: #0b97c4;
      font-size: 1.8em;
    }
    .total {
      color: #0b97c4;
      width: 16px;
      position: absolute;
      top: -7px;
      right: 12px;
      text-align: center;

      .error {
        color: red;
      }
    }
  }
}