.pr {
  &.list-issue {
    .md-card-content {
      max-height: 700px;
    }
  }

  &.list-pr {
    .md-theme-default.md-icon.md-warn {
      color: #dbab09;
    }
    .md-theme-default.md-icon.md-error {
      color: red;
    }
  }

  margin-bottom: 10px;

  .md-card-content {
    &:last-child {
      padding-bottom: 0;
    }

    max-height: 500px;

    .md-input-container {
      margin: 0;
    }
  }

  .additional-info {
    font-size: 0.8em;
  }
  .labels {
    font-size: 0.8em;
  }
  .comments-counter {
    .md-icon {
      color: #0b97c4;
      font-size: 1.8em;
    }
    .total {
      color: #0b97c4;
      width: 16px;
      position: absolute;
      top: -3px;
      right: 12px;
      text-align: center;
      font-size: 0.8em;

      .error {
        color: red;
      }
    }
  }
}